<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.port.dbagraph.dao.StudentRecordsDAO">

	<select id="eventCount" statementType="CALLABLE" resultMap="SRCountMap">
		select count(event) as count from v$session
	</select>

	<resultMap type="com.port.dbagraph.model.SQLResult"
		id="SRCountMap">
		<result property="eventCount" column="count" />
	</resultMap>
</mapper>
